.dflt-btn {
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-shadow: none;
  padding: 5px 22px;
  margin: 10px;
  width: auto;
  cursor: pointer;
}

.dflt-btn:hover {
  background: rgba(0, 0, 0, 0.05);
  transition: 100ms border ease-in;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.clickable {
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9em;
  color: blue;
}
.actnBtns {
  display: inline-block;
}
.info {
  text-align: center;
  padding: 20px 10px;
}
.info label {
  font-weight: bold;
  text-align: center;
}

.info p {
  text-align: center;
  display: grid;
  margin: 4px 36px;
}

.named {
  font-size: 1.3em;
  display: block;
  margin: 12px;
  text-decoration: underline;
}

#detailName {
  font-weight: bold;
}
.detail-birth,
.detail-survival {
  position: relative;
  display: inline-grid;
}
.controls::after {
  opacity: 0;
  width: 0;
  height: 0;
  z-index: 0;
}
.controls {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: calc(50%);
  left: calc(50% - 25px);
  width: 0px;
  margin: 0px auto;
  transform: scale(2.5);
}

.controls:hover + .cellWrap {
  border-color: rgba(36, 139, 36, 0.8);
  box-shadow: 0px 0px 2px 3px green;
  opacity: 0.4;
}
.long {
  margin: 20px 0px;
  position: absolute;
}
