.App {
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  padding: 50px;
}
.appWrap {
  text-align: center;
}
.cell {
  min-width: 5px;
  min-height: 5px;

  border: 1px solid transparent;
  background: rgba(200, 200, 200, 0.65);
  display: inline-block;
}
.cell.o {
  box-shadow: 1px 1px 25px 2px blue;
  background: blue;
}
.cellWrap {
  overflow: hidden;
  border: 3px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  display: inline-block;
}
.cellWrap:hover .cell-row {
  opacity: 0.4;
  cursor: pointer;
}

.cell-row {
  padding: 0;
  margin: 0;
  display: flex;
}
